/* Inter Regular */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter-v19-latin-regular.woff2') format('woff2'); 
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/inter-v19-latin-700.woff2') format('woff2');
}

/* Playfair Display 600 */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/playfair-display-v39-latin-600.woff2') format('woff2');
}

/* Playfair Display 700 */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/playfair-display-v39-latin-700.woff2') format('woff2');
}

/* Standardní Tailwind direktivy */
@tailwind base;
@tailwind components;
@tailwind utilities;